/* src/pages/Home/Home.css */

.home-container {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-image: url('./images/Bg-Home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-subcontainer {
    margin-top: 2px;
    margin-left:20px;
    width: 50%;
    height: 630px;
    background-color: rgba(241, 192, 169, 0.5);
    border: ridge black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 5px;
}

.home-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Product Sans Regular', sans-serif;
}

.home-item img {
    max-width: 100%;
    height: auto;
}

.home-item h2 {
    margin-top: 10px;
}

.home-item p {
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
    margin-top: 2px; 
    color: #000; 
    white-space: nowrap;
    margin-left: 25px;
    font-family: 'Product Sans Bold', sans-serif;
}

.home-sortbtncontainer {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #e5c4b2; 
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sort-button {
    background-color: #e5c4b2; 
    color: #000; 
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 10px; 
}

.sort-button:hover {
    background-color: #e5b2a8; 
}
